* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    background: #ffffff;
    display: grid;
    grid-template-columns: 1fr 5fr;
    
}

/* ------------ começo do sidenav ----------------------*/

.container .sidenav{
    position: relative;
    background:#f57c13;
    width: 100%;
    height: 100%;
}

.sidenav-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.image img {
    width: 80%;
    border: 10px solid #f59949;
    border-radius: 50%;
}

.image {
    text-align: center;
}


.menu {
    margin: 20px 0;
    text-align: center;
    position: relative;
}

.menu a {
    color: white;
    opacity: 0.5;
    font-size: 25px;
    display: block;
    margin-bottom: 30px;
    text-decoration: none;
}

.menu a.selected {
    opacity: 1;
}

/* ------------ final do sidenav ----------------------*/

/* ------------ inicio do content ----------------------*/

.content {
    position: relative;
    background: #fff;
    padding: 40px;
}

.content .description{
    position:fixed;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 40px;
}

.description h1 {
    color: #343a40;
    font-size: 36px;
}

.description h3 {
    color: #6c757d;
    font-size: 26px;
}

.description p {
    color: #6c757d;
    font-size:  24px;
}

/* ------------ final do content ----------------------*/

/* ------------ Icones ----------------------*/

.open-sidenav-icon{
    padding: 10px 10px;
    border: none;
    background: none;
    color: #f59949;
}

.open-sidenav-icon:hover{
    border-radius: 30px;
    background-color: rgb(238, 238, 238)  ;
}

.social-icons a{
    text-decoration: none;
    color: white;
    background-color: #f57c13;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 0 10px;
    display: inline-block;
    text-align: center;
}

.social-icons i {
    line-height: 40px;
}

.close-sidenav-icon {
    margin: 5px 20px;
    border: none;
    background: none;
    width: 50px;
    height: 50px;
    color: #fff
}

.close-sidenav-icon:hover {
    border-radius: 30px;
    background-color: #f19443 ;
}


/* ------------ Icones ----------------------*/

/* ------------ Reponsividade ----------------------*/

.responsive-icons {
    display: none;
}

.icon-white {
    color: #fff
}


@media screen and (max-width:800px){
    html, body {
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .content .description {
        position:relative;
    }

    .menu a {
        display: none;
    }

    .sidenav-content{
        position:relative;
        top: 180px;
    }

    .responsive-icons {
        display: block;
    }

}

/* ------------ Reponsividade ----------------------*/